/* ================================
   Global Reset
================================ */

* {
  box-sizing: border-box;
}


html,
body,
#root {

  width:100%;
  min-height:100%;

}


body {

  margin:0;

  font-family:
    "Inter",
    "Segoe UI",
    Arial,
    sans-serif;

  background:#faf7f2;

  color:#222;

}


/* Remove default button styles */

button,
input,
select {

  font-family:inherit;

}



/* Links */

a {

  text-decoration:none;

  color:inherit;

}